input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none;margin: 0;}
.datepicker {
    z-index: 1050 !important;
}
.btn-at{
    font-size: 11px;
    margin-top: 5px;
    padding: 1px 6px;
}

.margin-top-30{
    margin-top: 30px;
}

.head-trans{
    margin-bottom: 85px;
}
.transaction-date{
    width: 60px;
}

#general-ledger .modal-dialog{
    width: 1000px;
}

.double-line{
    margin-top: 0px;
    margin-bottom: 3px;
    border: 0;
    border-top: 1px solid #848484;
}

a.btn.btn-success.add-row.pull-right.margin-top-3{
    padding: 2px 4px;
    margin-top: 3px;
}

a.btn.btn-success.add-row.pull-right.margin-top-23{
    padding: 2px 4px;
    margin-top: 23px;
}

a.btn.btn-warning.pull-right.margin-top-3{
    padding: 2px 4px;
    margin-top: 3px;
}

a.btn.btn-warning.pull-right.margin-top-23{
    padding: 2px 4px;
    margin-top: 23px;
}

.btn-text-danger, .btn-text-info{
    padding: 3px 5px;
    color: #fff;
    border: 0;
    border-radius: 3px;
}

.btn-text-info.margin-top-23.edit-button, .btn-text-info.margin-top-23.delete-field{
    padding: 2px 4px;
    margin-top: 23px;
}

.btn-text-info.margin-top-3.edit-button, .btn-text-info.margin-top-3.delete-field{
    padding: 2px 4px;
    margin-top: 23px;
}

.btn-text-info{
    background-color: #0b927b;
}
.btn-text-danger {
    background-color: #9e0505;
    margin-left: 3px;
}
.store-trans a{
    float: none;
    margin: 20px;
}

.btn-text-danger:hover, .btn-text-info:hover{
    color: #EEE;
}

.btn-text-info:hover{
    background-color: #0b928f;
}
.btn-text-danger:hover{
    background-color: #9e0510;
}
.main-box, .journal-entry-box {
    font-size: 12px;
}

.main-box div div, .journal-entry-box div div{
    font-size: 11px;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.main-box div div input, .main-box div div select, .main-box div div select option,
.journal-entry-box div div input, .journal-entry-box div div select, .journal-entry-box div div select option{
    font-size: 11px;
    padding: 5px 8px;
}

.main-box div div input::placeholder, .journal-entry div div input::placeholder {font-size: 11px; font-style: italic; }

.main-box div div:first-child, .journal-entry-box div div:first-child,
.journal-entry-box div div:nth-child(3),
.journal-entry-box div div:nth-child(4){
    width: 12%;
}

.main-box div div:nth-child(4), .journal-entry-box div div:nth-child(5){
    width: 14%;
}

.journal-entry-box div div:nth-child(6){
    width: 20%;
}

.main-box div div:nth-child(5){
    width: 27%;
}

.main-box div div:last-child, .journal-entry-box div div:last-child{
    width: 5%;
}

.main-box div div .payment_method_addition{
    width: 100% !important;
    float: none;
    padding-left: 0 !important;
    padding-right: 3px !important;
}

.payment_method_addition input{
    margin: 5px 0;
}
.col-md-12.col-lg-12.col-sm-12.col-xs-12.search-transaction {
    padding: 30px 5px;
}

.btn-search{
    margin-top: 25px;
}

.small-text{
    font-size: 12px;
}

.small-text input, .small-text select, .small-text a{
    font-size: 11px;
}

.btn-trans-show{
    margin-top: 20px !important;
    margin-left: 20px !important;
}

select[readonly]#transaction_type, select[readonly].select2 + .select2-container {
    pointer-events: none;
    touch-action: none;
}

#transaction_type, .select2-selection {
    background: #eee;
    box-shadow: none;
}

#transaction_type, .select2-selection__arrow,
.select2-selection__clear {
    display: none;
}

.sidebar-menu>li>a {
    padding: 6px 5px 6px 15px;
}

.purchase-box div{
    padding-left: 5px;
    padding-right: 5px;
}

.permission-label{
    font-weight: normal;
}
.form-control {
    padding: 6px 7px;
    font-size: 12px;
}

.purchase-return-box div{
    padding-left: 5px;
    padding-right: 5px;
}

.purchase-box div:first-child{
    width: 17%;
}

.purchase-box div:nth-child(2),
.purchase-box div:nth-child(3),
.purchase-box div:nth-child(4),
.purchase-box div:nth-child(5),
.purchase-box div:nth-child(6){
    width: 8%;
}

.purchase-box div:nth-child(7),
.purchase-box div:nth-child(6){
    width: 11%;
}

.purchase-box div:nth-child(8){
    width: 15%;
}
.purchase-box div:last-child{
    width:5%;
}

.purchase-return-box div:first-child{
    width: 17%;
}

.purchase-return-box div:nth-child(2),
.purchase-return-box div:nth-child(3),
.purchase-return-box div:nth-child(4),
.purchase-return-box div:nth-child(5){
    width: 15%;
}

/*.purchase-return-box div:nth-child(7),*/
/*.purchase-return-box div:nth-child(6){*/
    /*width: 11%;*/
/*}*/

/*.purchase-return-box div:nth-child(8){*/
    /*width: 15%;*/
/*}*/
.purchase-return-box div:last-child{
    width:5%;
}

.purchase-return-div div{
    padding-left: 5px;
    padding-right: 5px;
}

.purchase-return-div div:first-child{
    width: 17%;
}

.purchase-return-div div:nth-child(2),
.purchase-return-div div:nth-child(3),
.purchase-return-div div:nth-child(4),
.purchase-return-div div:nth-child(5){
    width: 7%;
}

.purchase-return-div div:nth-child(7),
.purchase-return-div div:nth-child(6){
    width: 11%;
}

.purchase-return-div div:nth-child(8){
    width: 12%;
}

.purchase-return-div div:nth-child(9){
    width: 10%;
}
.purchase-return-div div:last-child{
    width:11%;
}

.report_list div{
    height: 250px;
}
.report_list div ul li a{
    font-size: 15px;
}
.report_list div ul li{
    list-style-type: none;
    margin: 5px 0;
}
.report_list div ul{
    margin-left: -35px;
}

textarea {
    resize: none;
}

input[type='number']{
    /*text-align: right;*/
}
input[type='number']::placeholder{
    text-align: left;
}

.box-body{
    padding: 3px 10px;
}

.margin-top-3{
    margin-top: 3px;
}

.margin-top-23{
    margin-top: 23px !important;
}
.margin-bottom-20 th{
    padding-bottom: 20px !important;
}

.border-right-1 {
    border-right: 1px solid #ccc;
}

.grid-width-10 {
    width: 10%;
}
.grid-width-20 {
    width: 20%;
}
.grid-width-30 {
    width: 30%;
}
.grid-width-40 {
    width: 40%;
}
.grid-width-50 {
    width: 50%;
}
.grid-width-60 {
    width: 60%;
}
.grid-width-70 {
    width: 70%;
}
.grid-width-80 {
    width: 80%;
}
.grid-width-90 {
    width: 90%;
}
.grid-width-100 {
    width: 100%;
}
.sales_table_2 th, .sales_table_2 td, .sales_table th, .sales_table td{border: 1px solid #ebebeb!important; padding: 5px;}
.delete-wpr { position: relative; }
.delete { display: block; color: #000; text-decoration: none; position: absolute; background: #EEEEEE; font-weight: bold; padding: 0px 3px; border: 1px solid; top: -6px; left: -22px; font-family: Verdana; font-size: 12px; }
.sales_table_new1{width: 50%;margin: 0 auto;}
.sales_table_new1 tr td{ text-align: left}
.new-table-2{ width: 30%;margin: 0 auto;}
.new-table-2 tr td{border:0px solid #fff!important; text-align: center!important; padding: 10px 0px;}
.new-table-2 tr td button{margin: 0 auto;}
.mou-input{width: 100px !important;padding: 5px;border: 1px solid #ebebeb;}
.new-table-3 tr td{border: 0px solid #ebebeb!important;
    padding: 5px;}
.mou-input-new{width: 132px;height: 30px!important;border: 1px solid #ebebeb!important;text-align:right;padding: 5px;}
.float-right{float:right!important;}
#items { clear: both; width: 100%; margin: 30px 0 0 0; border: 1px solid #ebebeb;margin: 0 auto; }
#items th { background: #eee; }
#items tr.item-row td { border: 0; vertical-align: top; border: 1px solid #111;}
#items td.description { width: 250px; }
#items td.item-name { width: 220px; text-align: left; }
#items td.total-line { border-right: 0; text-align: right; }
#items td.total-value { border-left: 0; padding: 10px; }
#items td.total-value textarea { height: 20px; background: none; }
#items td.balance { background: #eee; }
#items td.blank { border: 0; }
#items tbody tr td:last-child{width: 65px;}
#terms { text-align: center; margin: 20px 0 0 0; }
#terms h5 { text-transform: uppercase; font: 13px Helvetica, Sans-Serif; letter-spacing: 10px; border-bottom: 1px solid black; padding: 0 0 8px 0; margin: 0 0 8px 0; }
.amount-info table td, .payment-info table td{
    width: 50% !important;
}
@media (max-width:767px) {
    .new-table-responsive{
        overflow-x: scroll;
    }
}


